

<%= form_for([@article, @article.votes.build]) do |f| %>

  <%= f.hidden_field :username, :value => current_user['name']%>
  <%= f.hidden_field :type, :value => 1%>
  <%= f.hidden_field :references, :value => @article[:article_id]%>
  <p align="center">
    <br><br><%= f.submit "UpVote article", {:style=> 'width:7vw;height:5vh;'}%>
  </p>
<% end %>
