
<% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<%= yield %>

<h1 align="center">Edit article</h1>
 
<%= render 'form' %> 
<p align="center"><%= link_to 'Back', articles_path %> </p>

