
<% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<%= yield %>


<h1 align="center">Articles<br><br></h1>
 
<table align="center" style="border-collapse: collapse;">
  <tr>
    <th style="font-size: 2.5vh;">Title</th>
  </tr>
 
  <% @articles.each do |article| %>
    
    <tr style="border:2px solid;">
      <td style="font-size: 2.5vh;" ><%= article.title %></td>
      <td style="font-size: 2vh;"><%= link_to 'Show', article_path(article) %></td>
      <% if session[:user_id] != nil && current_user['name'] == 'admin' %>
      <td style="font-size: 2vh;"><%= link_to 'Edit', edit_article_path(article) %></td>
      <td style="font-size: 2vh;"><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if session[:user_id] != nil %>
	<p align="center" style='font-size: 3vh;color:#000000'><%= link_to 'New article', new_article_path %></p>
<% end %>
