
<% if current_user %>
	Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
	<%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>
   
<%= yield %>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

 
<h2>Votes</h2>
<!--%= render @article.votes%-->

<% @article.votes.each do |c| %>
  <p>
    <strong>Username:</strong>
    <%= c.username %>
  </p>
 
<% end %>



<h2>Comments</h2>
<%= render @article.comments %>


<% if session[:user_id] != nil%>
	<h2>Add a comment:</h2>
	<%= render 'comments/form' %>

	<% @flag = 0%>
	<% @article.votes.each do |c| %>        
                 <% current_user['name'] %>
                 <%c.username%>
		<% if current_user['name'] == c.username %>
			<%@flag = 1%>                 
		<% end %>
		<%@flag%>
         <%end%>

	<% if @flag == 0%>
		<h2>Add UpVote</h2>
		<%= render 'vote/form' %>
	<% end %>
<% end %>

<!--%= link_to 'Edit', edit_article_path(@article) %-->
<!--%= link to 'Vote', new_article_vote_path %-->
<%= link_to 'Back', articles_path %>
