
<% if current_user %>
	Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
	<%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>
   
<%= yield %>

<h2 align="center">
  <strong>Title</strong>
</h2>
 <p align="center"><%= @article.title %></p>

<h2 align="center">
  <strong>Text:</strong>
</h2>
<p align="center"><%= @article.text %></p>

 
<div style="margin: 0 auto;border:1px solid black;width: 50vh;">
	<h2 align="center">Votes</h2>
	<%if @article.votes.size == 0%>
		<p align="center" >NONE</p>
	<% end %>

	<% @article.votes.each do |c| %>
	  <p align="center">
	    <strong>Username:</strong>
	    <%= c.username %>
	  </p>
 
	<% end %>
</div>	

<% if  session[:user_id] != nil && current_user['name'] == 'admin'%>
  <% @counter = 0%>
  <% @article.comments.each do |c| %>
	<% @counter = @counter +1 %>
  <% end %>

<div style="margin: 0 auto;border:1px solid black;width: 50vh;margin-top: 5vh;">
	<h2 align="center">Number of Comments</h2>
	<p align="center"><%= @counter%></p>
</div>

<% end %>

<div style="margin: 0 auto;border:1px solid black;width: 50vh;margin-top: 5vh;">
	<h2 align="center">Comments</h2>
	<%= render @article.comments %>
	<%if @article.comments.size == 0%>
		<p align="center" >NONE</p>
	<% end %>
</div>
<% if session[:user_id] != nil%>
	
	<div style="margin: 0 auto;border:1px solid black;width: 50vh;margin-top: 5vh;">
		<h2 align="center">Add a comment:</h2>
		<%= render 'comments/form' %>
	</div>
	<% @flag = 0%>
	<% @article.votes.each do |c| %>        
                 <% current_user['name'] %>
                 <%c.username%>
		<% if current_user['name'] == c.username %>
			<%@flag = 1%>                 
		<% end %>
		<%@flag%>
         <%end%>

	<% if @flag == 0%>
		<%= render 'vote/form' %>
	<% end %>
<% end %>

<p align="center" ><%= link_to 'Back', articles_path , {:style=>'color:#000000;text-align:center'}%> </p>
