
<% if current_user %>
	Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
	<%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>
   
<%= yield %>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>NumberComments:</strong>
  <%= @article.numberComments %>
</p>
 
<h2>Votes</h2>
<%= render @article.votes%>

<h2>Comments</h2>
<%= render @article.comments %>


<% if session[:user_id] != nil%>
	<h2>Add a comment:</h2>
	<%= render 'comments/form' %>
	<h2>Add UpVote</h2>
	<%= render 'vote/form' %>
<% end %>

<!--%= link_to 'Edit', edit_article_path(@article) %-->
<!--%= link to 'Vote', new_article_vote_path %-->
<%= link_to 'Back', articles_path %>
